<div class="relative w-full h-full flex flex-col">
  <header
    class="relative px-8 w-full h-16 flex flex-row gap-4 items-center bg-black/40 overflow-x-auto"
  >
    <button
      class="px-6 py-2 rounded-full bg-black/40 shadow transition-all transform duration-200 ease-in-out hover:bg-black/80 hover:scale-110 hover:shadow-md"
    >
      <p class="text-white select-none">태국</p>
    </button>
  </header>
  <div class="relative w-full h-full overflow-hidden">
    <router-outlet></router-outlet>
  </div>
</div>
